/* :root {
  --body-color: #f2ead6;
  --header-color: #f8f6f0;
  --footer-color: #d4ccb9;
} */

:root {
  --header-color: rgb(255, 255, 255);
  --body-color: #072406;
  --body-color: #ded9c3;
  --analogous-1: #D6DEC3;
  --analogous-2: #DECBC3;

  --footer-color: rgb(255, 255, 255);
}

* img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none; 
}

a:visited {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
}

main {
  padding: 0;
}

/* @font-face {
  font-family: Grid;
  src: url('/frontend/fonts/RomanGridCaps.ttf') format('truetype');
} */

@font-face {
  font-family: Playfair;
  src: url('/frontend/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: libre;
  src: url('/frontend/fonts/libre-baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

/* @font-face {
    font-family: Dekko;
    src: url('/frontend/fonts/Dekko-Regular.ttf') format('truetype');
} */

/* Header Styles */
header {
  position: relative;
  color: #ffffff;
  padding: 10px;
  background-color: var(--header-color);
}

/* header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, var(--header-color), var(--body-color));
} */

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title {
  display: flex;
  /* Ensures the elements are laid out in a row */
  align-items: center;
  /* Vertically centers the items in the container */
  text-align: center;
  /* Center the text */
  margin-left: 10px;
}

#logo-text {
  margin-left: 0px;
  /* Adds space between the SVG and the text */
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  font-family: libre;
}



body {
  font-family: Playfair, Arial, sans-serif;
  font-family: Inter, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-feature-settings: normal;
  font-size: 14px;
  /* Use your font as a fallback */
  letter-spacing: 1px;
  margin: 0;
  background-color: var(--body-color);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #181818;
  text-decoration: none;
  font-weight: bold;
}

#logo {
  width: 100px;
}

.nav-links {
  margin: 0 40px 0 0;
  z-index: 2;
  font-weight: 400;
  font-size: 16px;
}

.nav-links a {
  color: #181818;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}

.arrow {
  font-family: "Arial", sans-serif;
}

/* Main Content Styles */

#hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.hero {
  text-align: center;
  padding: 50px 0;
  margin: 0 0 100px 0;
  color: rgb(26, 26, 26);
}

.hero h1 {
  font-family: Tiempos, serif;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 60px;
  font-variation-settings: normal;
  font-weight: 500;
  letter-spacing: normal;
  margin-bottom: 0px;
  width: 80%;
}

.hero p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  width: 80%;
}

#home-button-wrapper {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-link {
  cursor: pointer;
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  font-weight: bold;
  border: none;
  padding: 0;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button-top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.15s ease;
}

.button-link:hover .button-top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.43em);
}

.button-link:active .button-top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
} 
logo-slider {
  overflow: hidden;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  display: flex;
  padding-block: 5px;
  height: 200px;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
/*    for gap /*  transform: translateX(calc(-50% - (var(--slider-gap, max(16px, max(16px, 2vw))) * 2.0)));
 */  }
}
logo-slider > div {
  display: flex;
  align-items: center;
  animation: marquee calc(var(--slider-duration, 56s) + (var(--variable-duration, 0s) * 10)) linear infinite;
  justify-content: space-between;
/*   gap: var(--slider-gap, max(16px, max(16px, 2vw)));
 */}
logo-slider > div img {
  height: clamp(50%, 10vw, 100%);
  max-width: 150px;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
/* logo-slider > div:hover {
  animation-play-state: paused;
} */
@media (min-width: 1920px) {
  logo-slider {
    -webkit-mask-image: linear-gradient(to right, transparent, white 10vw, white calc(100% - 10vw), transparent);
    mask-image: linear-gradient(to right, transparent, white 10vw, white calc(100% - 10vw), transparent);
  }
}

.pricing {
  padding: 2rem;
  text-align: center;
  padding: 4rem 0;
  font-family: libre;
}

.pricing-title {
  display: flex;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

.pricing-title p {
  font-size: 2.0rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f8f8f8;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pricing-card p, .pricing-card p.price {
text-align: center;
}

.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.pricing-card h3 {
  margin-top: 0;
}

.pricing-card .price {
  font-size: 2rem;
  color: #333;
  margin: 0.5rem 0;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-card ul li {
  margin-bottom: 0.5rem;
}

.pricing-card .button-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  background-color: #C3C8DE;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pricing-card .button-link:hover {
  background-color: #787b87;
  color: white;
}

@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}


/* Footer Styles */
footer {
  background-color: var(--footer-color);
  /* Footer background color */
  color: #0c0c0c;
  /* Text color for the footer */
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-top {
  flex-direction: column;
  margin-bottom: 20px;
  /* Add space between the top and bottom sections */
}

.footer-top p {
  font-weight: 300;
  font-size: 20px;
}

.footer-icons a {
  margin-right: 10px;
}

.footer-icons img {
  width: 20px;
  /* Adjust as needed */
  height: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  line-height: 3.0;
}

.footer-section h3 {
  margin-bottom: 10px;

}

.footer-section a {
  text-decoration: none;
  color: #575757;
  margin-bottom: 5px;
  font-weight: 300;
}

.footer-section a:hover {
  color: #131313;
}

/* Responsive styles if needed */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    margin-left: 0;
    margin-right: 20px;
  }

  .footer-top,
  .footer-bottom {
    flex-direction: column;
  }

  .footer-icons a {
    margin-bottom: 10px;
    /* Adjust spacing for smaller screens */
  }
}

.pricing-title {
  font-family: libre;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}