/* :root {
  --body-color: #f2ead6;
  --header-color: #f8f6f0;
  --footer-color: #d4ccb9;
} */

:root {
  --header-color: rgb(255, 255, 255);
  --body-color: #072406;
  --footer-color: rgb(255, 255, 255);
}


/* @font-face {
  font-family: Grid;
  src: url('/frontend/fonts/RomanGridCaps.ttf') format('truetype');
} */

@font-face {
  font-family: Playfair;
  src: url('/frontend/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

/* @font-face {
    font-family: Dekko;
    src: url('/frontend/fonts/Dekko-Regular.ttf') format('truetype');
} */

/* Header Styles */
header {
  position: relative;
  color: #ffffff;
  padding: 10px;
  background-color: var(--header-color);
}

/* header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, var(--header-color), var(--body-color));
} */


body {
  font-family: Playfair, Arial, sans-serif;
  font-family: Inter, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-feature-settings: normal;
  font-size: 14px;
  /* Use your font as a fallback */
  letter-spacing: 1px;
  margin: 0;
  background-color: var(--body-color);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #181818;
  text-decoration: none;
  font-weight: bold;
}

#logo {
  width: 100px;
}

.nav-links {
  margin: 0 40px 0 0;
  z-index: 2;
}

.nav-links a {
  color: #181818;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}

.arrow {
  font-family: "Arial", sans-serif; /* Replace with the desired font name */
}

/* Main Content Styles */
main {
  padding: 20px;
}

#hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.hero {
  text-align: center;
  padding: 100px 0;
  margin: 0 0 100px 0;
  color: white;
}

.hero h1 {
  font-family: Tiempos, serif;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 60px;
  font-variation-settings: normal;
  font-weight: 500;
  letter-spacing: normal;
  margin-bottom: 20px;
  width: 80%;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  width: 80%;
}

.hero button {
  background-color: #333;
  color: #ffffff;
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: var(--footer-color); /* Footer background color */
  color: #0c0c0c; /* Text color for the footer */
  padding: 10px;
  position: relative;
}

/* footer::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, var(--body-color), var(--footer-color));
} */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-section h3 {
  margin-bottom: 10px;
}
.footer-section a {
  text-decoration: none;
  color: #575757;
  margin-bottom: 5px;
}
.footer-section a:hover {
  color: #131313
}
.footer-icons a {
  margin-right: 10px;
}
.footer-icons img {
  width: 20px; /* Adjust as needed */
  height: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    margin-left: 0;
    margin-right: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-links,
  .footer-social {
    margin-bottom: 20px;
  }
}