:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

header {
  /*     background-color: rgb(244, 241, 233);
 */
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
}
body {
  background-color: rgb(247, 244, 238);
}

#hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height: 50%;
  width: 100%;
}

.card {
  padding: 20px 40px 40px 40px;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background: #f8f5f0;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px rgb(247, 247, 247);
}

.card:hover {
  box-shadow: 20px 20px 70px #bebebe, -20px -20px 70px #ededed;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
  #hero-wrapper {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 85%;
    padding: 20px 30px 40px 30px;
  }}

.home-link {
  display: flex;
  justify-content: flex-start;
}

.home-link a {
  position: relative;
  display: inline-block; /* Ensures the pseudo-element aligns correctly */
  width: max-content;
  top: 10px;
  left: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Tiempos", serif;
  color: var(--black-color);
  text-decoration: none; /* Removes the default underline */
}

.home-link a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px; /* Thickness of the underline */
  bottom: -5px; /* Distance of the underline from the text */
  right: 0;
  background-color: var(--black-color); /* Color of the underline */
  transition: width 0.2s ease-in-out; /* Animates the width of the underline */
}

.home-link a:hover::after {
  width: 100%; /* Causes the underline to fill the width of the element */
}

.next {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-top: -20px;
}

.next a {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  position: relative;
  width: 100%;
  display: inline-block; /* Ensures the pseudo-element aligns correctly */
  width: max-content;
  top: 10px;
  right: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Tiempos", serif;
  color: var(--black-color);
  text-decoration: none; /* Removes the default underline */
}

.next a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px; /* Thickness of the underline */
  bottom: -5px; /* Distance of the underline from the text */
  left: 0;
  background-color: var(--black-color); /* Color of the underline */
  transition: width 0.25s ease-in-out; /* Animates the width of the underline */
}

.next a:hover::after {
  width: 100%; /* Causes the underline to fill the width of the element */
}

.logo-menu {
  padding: 10px 0 30px 0;
}

.logo-menu h1 {
  font-size: 40px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  transform: scale(1.0);
}

@media (max-width: 1250px) {
    .pricing-grid {
      grid-template-columns: repeat(2, 2fr);
/*       margin-top: 20px;
 */      row-gap: 60px;
      column-gap: -20px;
    }

    #hero-wrapper {
        height: 100%;
    }

    .logos-pricing-card {
      margin-top: 0px !important;
    }/* 
    .second-logos-offering {
        margin-top: 30px;
        height: 75% !important;
    }
    .third-logos-offering {
      margin-top: 30px;
      height: 75% !important;    }
  } */
}
  
  @media (max-width: 768px) {
    .pricing-grid {
      grid-template-columns: 1fr;
    }

  }

  @media (max-width: 600px) {
    .home-link a, .next a {
      font-size: 14px;
    }
    .logo-menu {
      padding: 30px 0 0 0;
    }
    .logo-menu h1 {
      font-size: 40px;
    }
    .logo-menu-under-heading h1 {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 600px) {
    .home-link a {
      top: 13px;
    }
    .logo-menu-under-heading h1 {
      font-size: 20px;
    }
 }

/*Neo Brutalism pricing card*/
.logos-pricing-card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --item-color: rgb(0, 113, 133);
  --item-hover-color: rgb(196, 85, 0);
  --main-focus: #007185;
  width: 80%;
  height: 90%;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logos-pricing-card:hover {
  box-shadow: 4px 6px var(--main-color);
/*   transform: translateY(-2px);
 */  cursor: pointer;
}

/* .logos-pricing-card:last-child {
  justify-content: flex-end;
} */

.card-img {
  /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.img1 {
  background-size: cover;
  background-position: center;
  background-image: url('/frontend/images/logos-page/image-1.png');
  width: 100px;
  height: 100px;
}

.img2 {
  background-size: cover;
  background-position: center;
  background-image: url('/frontend/images/logos-page/image-2.png');
  width: 110px;
  height: 100px;}

.img3 {
  background-size: cover;
  background-position: center;
  background-image: url('/frontend/images/logos-page/image-3.png');
  width: 130px;
  height: 100px;}

.img4 {
  background-size: cover;
  background-position: center;
  background-image: url('/frontend/images/logos-page/image-4.png');
  width: 100px;
  height: 100px;}



/* .card-img .img {
  transform: scale(1);
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border: 2px solid black;
  background-color: #228b22;
  background-image: linear-gradient(
    to top,
    transparent 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 13px,
    transparent 13px
  );
}

.card-img .img::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 110px;
  margin-left: -32.5px;
  left: 50%;
  bottom: -4px;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.7) 30%,
      transparent 30%
    ),
    linear-gradient(
      to top,
      transparent 17px,
      rgba(0, 0, 0, 0.3) 17px,
      rgba(0, 0, 0, 0.3) 20px,
      transparent 20px
    ),
    linear-gradient(to right, black 2px, transparent 2px),
    linear-gradient(to left, black 2px, transparent 2px),
    linear-gradient(to top, black 2px, #228b22 2px);
  background-size: 60% 10%, 100% 100%, 100% 65%, 100% 65%, 100% 50%;
  background-position: center 3px, center bottom, center bottom, center bottom,
    center bottom;
  border-radius: 0 0 4px 4px;
  z-index: 2;
}

.card-img .img::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  left: 50%;
  top: -13px;
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(80deg, #ffc0cb 45%, transparent 45%),
    linear-gradient(-175deg, #ffc0cb 45%, transparent 45%),
    linear-gradient(80deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%),
    linear-gradient(-175deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%),
    radial-gradient(
      circle at center,
      #ffa6b6 45%,
      rgba(0, 0, 0, 0.2) 45%,
      rgba(0, 0, 0, 0.2) 52%,
      rgba(0, 0, 0, 0) 52%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0.2) 48%,
      rgba(0, 0, 0, 0.2) 52%,
      rgba(0, 0, 0, 0) 52%
    ),
    linear-gradient(
      65deg,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0.2) 48%,
      rgba(0, 0, 0, 0.2) 52%,
      rgba(0, 0, 0, 0) 52%
    ),
    linear-gradient(
      22deg,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0.2) 48%,
      rgba(0, 0, 0, 0.2) 54%,
      rgba(0, 0, 0, 0) 54%
    );
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 75%, 100% 95%, 100% 60%;
  background-position: center center;
  border-top-left-radius: 120px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 70px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(45deg);
  z-index: 1;
} */

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub) !important;
  transition: all 0.1s ease;
}

.card-subtitle:hover {
  color: var(--item-hover-color) !important;
  cursor: pointer;
  text-decoration: underline;
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  max-width: 80px;
  background: var(--bg-color);
  border: 2px solid var(--item-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--item-color);
  transition: all 0.2s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--item-hover-color);
  cursor: pointer;
  transform: scale(1.03);
}

.card-btn:hover svg {
  fill: var(--item-hover-color);
}

.card-btn:active {
  transform: translateY(3px);
}



.sample-card, .pricing-popup {
  margin-top: -170px;
  overflow-y: auto;
}

@media (max-width: 1250px) {
  .sample-card, .pricing-popup {
    margin-top: -500px;
  }
}

@media (max-width: 768px) {
  .sample-card, .pricing-popup {
    margin-top: -1100px;
  }
}

.overlay.show {
  height: 99.4% !important;
}