

.wizard-card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .wizard-card-title-container {
    margin-top: 20px;
  }
}

.wizard-card-title {
  color: rgb(44, 44, 44);
  font-weight: 400;
  font-size:28px;
  margin-bottom: 5px;
  font-family:'Gambetta', serif !important;
  margin-left: -4rem;
  text-align: center;
}

@media (max-width: 900px) {
  .wizard-card-title {
    margin-left: 0;
  }
}

.card {
/*   background-color: rgb(255, 255, 241);
 */}

.card {

}

.wizard-card-subtitle {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;}

.wizard-form {
    --input-focus: #bd2dd6;
    --input-focus: #C7CDF7;
    --input-focus: #F7C7E5;
    --input-focus: rgb(29, 29, 29);
    --font-color: #323232;
    --font-color-sub: #494949;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 30px;
    background: rgb(244, 223, 67);
    background: #f7f1c7;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    height: 82%;
    font-family: Tiempos, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
/*     animation: normal-pulsate 5s infinite; */
  }

  .wizard-form:hover {
    box-shadow: 4px 6px var(--main-color);
  }

  @keyframes normal-pulsate {
    0% {
      transform: scale(1);
    }
  
    60% {
      transform: scale(1.02);
    }
  
    90% {
      transform: scale(1.001);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }

  .logo-creation-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    gap: 1rem;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  @media (max-width: 1050px) {
    .logo-creation-grid {
      grid-template-columns: 1fr;
    }
  }

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper > * {
    width: 95%;
  }

  .input-title {
    font-weight: 800;
    font-style: bold;
  }

  .input-title > :nth-child(-n+2) {
    text-align: left;
  }

/*   .input-title-1 {
    margin-top:20px !important;
  } */


  .description-grid {
    width: 100%;
    margin-left: 7px;
    margin-top: 7px;
  }

  .description-title-2 {
    margin-top: 20px;
  }

  .input-logo-design-1-wrapper {
    text-align: left;
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }

  .input-logo-design-1-wrapper {
    width: 98%;
  }

  @media (min-width: 1050px) {
    .input-logo-design-1-wrapper {
      margin-right: -40px;
    }
  }

  .input-logo-design-1 {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
    margin-top: 12px;
    width: 100%;
    box-shadow: 1px 3px var(--main-color); /* Larger shadow to appear higher */
  }
  
  .input-logo-design-1:hover {
    transform: translateY(-2px);
    box-shadow: 1px 5px var(--main-color); /* Smaller shadow to mimic stationary shadow */
  }

  .input-logo-design-2 {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
    margin-top: 5px;
    width: 100%;
    box-shadow: 1px 3px var(--main-color); /* Larger shadow to appear higher */
  }
  
  .input-logo-design-2:hover {
    transform: translateY(-2px);
    box-shadow: 1px 5px var(--main-color); /* Smaller shadow to mimic stationary shadow */
    cursor: pointer;
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
  }
  
  .button-confirm {
    margin: 10px auto 0 auto;
    -moz-fit-content: fit-content;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 2px 3px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Ensure smooth transitions */
  }
  
  .button-confirm:hover {
    box-shadow: 2px 5px var(--main-color);
    transform: translateY(-2px); /* Move the button upwards */
  }
  
select.input {
  width: 97%;
}



.sample-card, .pricing-popup {
  overflow-y: auto;
}

.overlay {
  height: 95.3% !important;
}

/* @media (max-width: 1250px) {
  .sample-card, .pricing-popup {
    margin-top: -150px;
  }
}

@media (max-width: 1050px) {
  .sample-card, .pricing-popup {
    margin-top: -450px;
  }
}

@media (max-width: 768px) {
  .sample-card, .pricing-popup {
    margin-top: -350px;
  }
}

@media (max-width: 600px) {
  .sample-card, .pricing-popup {
    margin-top: -350px;
  } 

  .overlay.show {
    
  }
}*/

.home-button-wrapper {
  justify-self: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: -10px;
}




